<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">The most recent secrets!</h1>

    <% if (usersWithSecrets != null) {%>
      <%usersWithSecrets.forEach((user, i) => {%>
        <p class="secret-text"><%= user.secret %></p>
      <%});%>
    <%} else {%>
      <p class="secret-text">Here will be your anonymous secret!</p>
    <%}%>


    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
